body {
	background-color: #f8f8f8;
}

.container {
	max-width: 40em;
	margin: 0 auto;
}

.masthead {
	margin: 1em auto;
	display: block;
}

.vote-right {
	width: 10em;
}

.vote-button {
	margin-bottom: 0.5em;
}

a.vote-button {
  display: block;
}

.vote-caption {
	margin-top: -1.7em;
	text-align: center;
	font-size: 0.8em;
}

.vote-edit-button {
	float: right;
}

.panel-title {
	overflow: hidden;
}

.vote-plugin {
	background-color: #f8f8f8;
}

tr.collapsed th {
}

tr.expanded th {
	background-color: #f8f8f8;
	color: #999;
}

tr.collapsed span, tr.expanded span {
	color: #ccc;
}